.footer {
    padding: 4rem 0;
    background-color: var(--background);
    border-top: 1px solid var(--border);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: #666;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.socials {
    display: flex;
    gap: 2rem;
}

.link {
    color: #666;
    transition: color 0.2s;
    font-size: 0.9rem;
}

.link:hover {
    color: var(--foreground);
}